
pre {
    direction: ltr;
}

.top-space-reserver {
  margin-top: 32pt;
}

img {
  max-width: 750px;
}

body {
	font-family: 'Droid Arabic Naskh', serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Droid Arabic Naskh', serif;
}

.footer {
	text-align: center;
	font-size: 1em;
	direction: rtl;
}

.articletitle {
	margin-bottom: 24px;
}

blockquote {
	font-size: 1.2em;
}

p {
	font-size: 1.1em;
	line-height: normal;
}

.support {
	text-align: center;
}

.nextchapter {
   text-align: left;
}

.prevchapter {
	text-align: right;
}
